@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Carrinho {
    width: 90%;
    /* background-color: teal; */
    height: 1000px;
    margin: 50px 5% 100px 5%;
    font-family: 'Montserrat', sans-serif;
}