

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Boasvindas {
    width: 60%;
    text-align: center;
  
    height: 265px;
    margin: 50px 20% 100px 20%;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.Logo {
    font-size: 100px;
    color: #D7B399;
}

.SegundaCor{
    color: #D7B399;
}