@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Pedidos {
    width: 90%;
    min-height: 380px;
    /* background-color: teal; */
    height: auto;
    margin: 50px 5% 100px 5%;
    font-family: 'Montserrat', sans-serif;
}
