@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Navbar {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.NavList {
    color: #DADADA;
    list-style: none;
    display: inline-block;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
    color:#DADADA;
    text-decoration:none; 
  }

.NavList li{
    display: inline-block;
    padding: 10px 60px;
    cursor: pointer;
    font-size: 14px;
}

.NavList li:hover{
    color: #FFFFFF;
    text-shadow: 0 0 15px #827EAC;
}

.NavList .Titulo {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    word-spacing: 5%;
    padding: 0 40px;
    letter-spacing: 2px;
}

.Navbar .Carrinho {
    font-size: 25px;
}

.NItensCarrinho {
    padding: 2px 12px;
    background-color: #827EAC;
    border-radius: 10px 0 10px 0;
    box-shadow: 0 0 10px #827EAC;
}

.line {
    width: 80%;
    border-bottom: solid 1px #8E88C1;
    margin-left: 10%;
}