@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Mensagem {
    width: 400px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    background-color: #827EAC;
    position: absolute;
    z-index: 5;
    right: 20px;
    bottom: 10px;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}